[Desktop Entry]
Type=Application
Name={0}
GenericName={0}
X-GNOME-FullName={0}
Icon={1}
Categories={2}
Keywords="{3}"
Terminal=false
StartupNotify=true
Exec={4}